body {
	padding-bottom: 300px;
}

section + section {
	margin-top: 120px;
}

.al_loader:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(/assets/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	z-index: 9999
}

#bJS_paginationExampleFrame {
	position: relative;
}

#bJS_formExample form{
	position: relative;

	&.al_loader:after {
		width: 50px;
		height: 50px;
		top: -14px;
		right: 40px;
		bottom: auto;
		left: auto;
	}
}

